ConsoleApplication1/Service References/ServiceReference1/SimulatorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://abhijitdesktop:8500/SimulatorService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceCommon" />
  <xs:import schemaLocation="http://abhijitdesktop:8500/SimulatorService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Stimline.Data.RunDomain.Domain" />
  <xs:import schemaLocation="http://abhijitdesktop:8500/SimulatorService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="UpdateSimulationConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceCommon" minOccurs="0" name="config" nillable="true" type="q1:GeneralSimulationConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSimulationConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSimulationConfigurationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRunPlans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRunPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Stimline.Data.RunDomain.Domain" minOccurs="0" name="GetAllRunPlansResult" nillable="true" type="q2:ArrayOfRunPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRunPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Stimline.Data.RunDomain.Domain" minOccurs="0" name="runPlan" nillable="true" type="q3:RunPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRunPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRunPlanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRunPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Stimline.Data.RunDomain.Domain" minOccurs="0" name="runPlan" nillable="true" type="q4:RunPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRunPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditRunPlanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRunPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="runPlanId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRunPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRunPlanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRuns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRunsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Stimline.Data.RunDomain.Domain" minOccurs="0" name="GetAllRunsResult" nillable="true" type="q6:ArrayOfRun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRunsWithSpecifiedRunPlanId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="runPlanId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRunsWithSpecifiedRunPlanIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Stimline.Data.RunDomain.Domain" minOccurs="0" name="GetAllRunsWithSpecifiedRunPlanIdResult" nillable="true" type="q8:ArrayOfRun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRunsFilteredByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Stimline.Data.RunDomain.Domain" minOccurs="0" name="runStatus" type="q9:RunStatusEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRunsFilteredByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Stimline.Data.RunDomain.Domain" minOccurs="0" name="GetAllRunsFilteredByStatusResult" nillable="true" type="q10:ArrayOfRun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>